<div class="d-flex main-div">
    <div class="img-div">
        <img src="../../../assets/img/backgroundImg.jpg" alt="">
    </div>
    <div class="form-div">
        <div class="dialog-content">
            <h1>
                <strong *ngIf="!otpSent">
                    Forgot Password
                </strong>
            </h1>
            <form [formGroup]="forgotForm">
                <div *ngIf="!otpSent">
                    <div>
                        <label for="email">Email</label>
                    </div>
                    <mat-form-field appearance="outline">
                        <input type="email" matInput type="email" id="email" formControlName="email"
                            placeholder="Enter your registered email">
                        <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="forgotForm.get('email')?.hasError('emailNotFound')">Email not
                            found</mat-error>
                    </mat-form-field>
                    <div mat-dialog-actions>
                        <button mat-raised-button class="btn-color" (click)="sendOTP()">Send OTP</button>
                    </div>
                </div>
                <div *ngIf="otpSent">
                    <div>
                        <h1>
                            <strong>Otp Verfication</strong>
                        </h1>
                    </div>
                    <div>
                        <label for="otp">Enter OTP</label>
                    </div>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" id="otp" formControlName="enteredOTP" placeholder="Enter the OTP">
                    </mat-form-field>
                    <div mat-dialog-actions>
                        <button mat-raised-button class="btn-color" (click)="verifyOTP()">Verify OTP</button>
                    </div>
                </div>
                <div *ngIf="otpSent">
                    <div *ngIf="timer > 0">Time remaining: {{ timer }} seconds</div>
                    <button mat-raised-button class="btn-resend" *ngIf="timer === 0" (click)="resendOTP()">Resend
                        OTP</button>
                </div>
            </form>
        </div>
    </div>
</div>