<div class="d-flex mainDiv">
  <div class="img-div">
    <img src="../../../assets/img/backgroundImg.jpg" alt="">
  </div>

  <div class="form-div">
    <div class="dialog-content">
      <h1>
        <strong>Reset Password</strong>
      </h1>
      <form [formGroup]="resetForm" class="mat-dialog-content" (ngSubmit)="onSubmit()">
        <div>
          <label for="password">Password</label>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <input type="password" matInput formControlName="password" placeholder="Enter password">
            <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="resetForm.get('password')?.hasError('pattern')">
              Password must contain more than 8 characters,1 upper case,1 special character
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <input type="password" matInput formControlName="confirmPassword" placeholder="Enter confirmPassword">
            <mat-error *ngIf=" resetForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-error
            *ngIf="resetForm.get('confirmPassword')?.value && resetForm.get('confirmPassword')?.value !== resetForm.get('password')?.value">
            ConfirmPassword not match
          </mat-error>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button type="submit" class="btn-color">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>